#version-check {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #aaa;
    background:#eee;
    border-radius: 10px;
    padding: 1em;
}

.version-uptodate {
    color: green;
}

.version-outdated {
    color: orange;
}

table.table-view {
    margin-top: 2em;
    margin-bottom: 2em;
}

.dataTables_wrapper {
    margin-top: 2em;
}

.dt-table caption {
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4, 
h5,
#content .documentDescription,
#content #description,
body {
    font-family: Raleway, sans-serif !important;
    position: relative;
    background: #FFFFFF url(++resource++pcp.contenttypes/bg_page.png) no-repeat left top;
}

#portal-globalnav {
    font-size: 90%;
    font-weight: 800;
    text-align: center;
}

